/*Убираем отступы*/
*{
	padding: 0;
	margin: 0;  
	border: 0;
}
/*Меняем подсчет ширины блока*/
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
/*Убираем линии обводки у некоторых браузеров*/
:focus,active{outline: none;}
a:focus,a:active{outline: none;} 
/*Делаем эти теги блочными*/
nav,footer,header,aside{display:block;} 
/*Уравниваем поведение шрифтов для рахных браузеров*/
html,body{
	height: 100%;
	widows: 100%;
	font-size: 100%;
	line-height: 1;						
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*Наследование семейства шрифта*/
input,button,textarea{font-family:inherit;}
/*Убирает некоторые особенности браузеров*/
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}  
a, a:visited{text-emphasis: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*Обнуляем все заголовки*/
h1,h2,h3,h4,h5,h6 { font-size:inherit;font-weight: 400;}